body {
	background: #f0f0f0;
}

body > div {
	background: white;
	width: 960px;
	margin: 0 auto;
	padding: 15px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

#header{
    width: 960px;
    margin: 10px auto;
    padding-bottom: 40px;
}

#headerNavigation {
	float: right;
}
.navMenu {
	margin-right: 20px;
}

.navMenu a {
    color: black;
    outline: none;
    text-decoration:none;
}

.currentStateDescription {
	margin-bottom: 20px;
}

.actionTypeDescription, .classDescription {
	margin: 10px;
}

.propertyAssignmentsTable {
	margin-top: 20px;
}

.propertyAssignmentSelect {
	width: 500px;
}

.pageMessage {
	font-size: 130%;
}

.pageListing {
	margin: 20px;
	font-size: 110%;
}